.mat-container {
        display: flex; 
        flex-direction: column;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h1 {
    text-align: center;
}