<div class="mat-app-background">
<div class="container">
    <mat-toolbar color="primary">
        <span>Modify PDFs</span>
        <span class="example-spacer"></span>
        <!--<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>-->
        <!--<mat-icon>brightness_5</mat-icon><mat-icon>bedtime</mat-icon>-->
        <!--<mat-slide-toggle [formControl]="toggleControl"></mat-slide-toggle>-->
    </mat-toolbar>
    <br>
    <app-main-pdf></app-main-pdf>
</div>
</div>
